
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/
.env/
.secrets

# K8s secrets
k8s/secret.yaml
tags.db
src/vectordb/data/

# Pulumi generated
*.dot
*.png
